#questionPreview {
	display: none;
}

@-webkit-keyframes loading1 {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes loading1 {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@-webkit-keyframes loading2 {
  0% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
  100% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }
}
@keyframes loading2 {
  0% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
  100% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }
}
#spinnerText {
  font: 30px "Dancing Script", Arial;
}

div.content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.l1, .l2, .l3 {
  background: black;
  height: 5px;
  width: 30px;
  margin: 5px;
  -webkit-animation: loading1 1s 0s infinite ease-in-out;
          animation: loading1 1s 0s infinite ease-in-out;
}

.l2 {
  -webkit-animation: loading2 .5s 0s infinite ease-in-out alternate;
          animation: loading2 .5s 0s infinite ease-in-out alternate;
}

.l3 {
  -webkit-animation: loading1 1s 0s infinite ease-in-out reverse;
          animation: loading1 1s 0s infinite ease-in-out reverse;
}
